<!-- <ion-header no-border> -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button default-href="/blog"></ion-back-button>
      </ion-buttons>
      <ion-title>{{item.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--
  detail attribute of ion-item shows the detail arrows
  -->
  <ion-content no-bounce padding="true">

    <!-- Test for the format so that, in the future,
    we can route to different service calls and rendering
    techniques based on the format -->
    <div *ngIf="item.format === 'text/markdown'">
      <markdown [path]="fetchPath"></markdown>
    </div>
    <div *ngIf="item.format === 'text/html'" [innerHTML]="htmlBody">
    </div>
    <div *ngIf=" item.format !== 'text/markdown' || item.format !== 'text/html' ">
      <p>Unknown content format: {{item.format}}</p>
    </div>

  </ion-content>

  <!--
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
    </ion-toolbar>
  </ion-footer>
  -->
