<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding>

  <p>Welcome to my online lab. Mad science is done here. These pages represent some of my experiments with web
  technology, my results, and related findings. If you want to see the source code behind anything, the repo for
    this site is <a href="https://github.com/codyburleson/cburleson-pwa">available on GitHub</a>.


  <ion-list>
    <!-- https://codyburleson.com/app/lifetime/ -->
    <ion-item detail="true" tappable href="/lab/life-time">
      <ion-thumbnail slot="start">
        <img src="/assets/img/tim-urban.jpg" alt="Tim Urban at TED">
      </ion-thumbnail>
      <ion-label>
        <h2>Life Time Calendar</h2>
        <h3>View your whole life in a sobering glance.</h3>
  <p>A D3.js visualization inspired by Tim Urban's TED talk, <em>Inside the mind of a master procrastinator</em></p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
-->
