<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authoring</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding="true">

  <p>Right now, you can just type a path like <code>auth/slug</code> and the slug string will
  be the content of the editor. When complete, the slug should refer to a content item, and load
  its content into the editor, but that's not done yet.</p>

  <!--
  <quill-editor #editor [style]="{height: '200px'}" (onEditorCreated)="setFocus($event)"></quill-editor>
  -->

</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
-->
