<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding="true">

  <p>
    <img id="profileImg" src="/assets/img/cody-burleson-profile-400x533.jpg" alt="Photograph of Cody Burleson" title="Cody Burleson" width="150"/>
    Hi, I'm Cody Burleson and this is my personal home base on the web. I use this site to do mad science -
    studying and experimenting with web development and various software tools. I often record my discoveries and
    lessons-learned here - mainly because I don't trust my own memory, but also in case it could be helpful to others.
    Sometimes, I also record thoughts about life in general.
  </p>

  <p>I practice solution design and full-stack development for <a href="http://base22.com">Base22</a>. There, I also
    work on our flagship product, <a href="https://carbonldp.com">Carbon LDP</a> - a linked data platform.</p>

  <p>My hobbies are digital sculpting in <a href="http://pixologic.com/">ZBrush</a> and writing. I'm
    47 years old. I'm very happily married. I have two grown children and a dog.</p>

  <p>Thanks for stopping by. I'm glad you're here.</p>

  <h2>Social</h2>

  <p>Here's where you can find or follow me elsewhere online...</p>

  <ion-list>
    <ion-item>
      <!-- ion-icon name="facebook" slot="start"></ion-icon -->
      Facebook
    </ion-item>
    <ion-item>
      <!-- ion-icon name="linkedin" slot="start"></ion-icon -->
      LinkedIn
    </ion-item>
    <ion-item>
      <!-- ion-icon name="twitter" slot="start"></ion-icon -->
      Twitter
    </ion-item>
    <ion-item>
      <!-- ion-icon name="youtube" slot="start"></ion-icon -->
      YouTube
    </ion-item>
  </ion-list>


</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
-->
