<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding="true">

  <img src="assets/img/cody-burleson-avatar_400x400.jpg" alt="Photograph of Cody Burleson" title="Cody Burleson" width="100" height="100"/>
  <p>Hi, I'm Cody Burleson and this is my personal home base on the web. I use this site to do mad science -
    studying and experimenting with web development and various software tools. I often record my discoveries and
    lessons-learned here - mainly because I don't trust my own memory, but also with hope that the information
    could be helpful to others. Sometimes, I also record thoughts about life in general.
  </p>

  <p>I practice solution design and full-stack development for <a href="http://base22.com">Base22</a>. There, I also
    work on our flagship product, <a href="https://carbonldp.com">Carbon LDP</a> - a linked data platform.</p>

  <p>My hobbies are digital sculpting in <a href="http://pixologic.com/">ZBrush</a> and writing. I'm
    47 years old. I'm very happily married. I have two grown children and a dog.</p>

  <p>Thanks for stopping by. I'm glad you're here.</p>


</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
-->
