<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding="true">

  <p>
    This is a lab experiment that grabs some mock JSON from https://jsonplaceholder.typicode.com and renders it.
     The purpose of this experiment was to stub out creating a RESTful API with node.js and express. </p>

  <p>The api endpoint is coded in <code>/server/routes/api.js</code>. This is used by <code>server.js</code> in
  the project root.</p>

  <p>The Angular service is in <code>/services.posts.service.ts</code></p>

  <p>And then, of course, there is this view component, which is everything in <code>src/app/pages/posts</code>.</p>

  <ion-list>
    <ion-item *ngFor="let item of posts">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.body }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

