<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Cody Burleson</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-item href="/home">Home</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item href="/blog">Blog</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item href="/lab">Lab</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item href="/auth">Authoring (temp)</ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item href="/about">About</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-nav main><ion-router-outlet main></ion-router-outlet></ion-nav>
  </ion-split-pane>
</ion-app>
