<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding="true">

  <p>An Angular 6, Ionic 4 app in the works here.</p>

  <p>This app, so far, reads and renders static blogpost files written in markdown.</p>

  <!--
  <ion-grid>
    <ion-row>
      <ion-col>


        <ion-card>
          <img src="img/nin-live.png"/>
          <ion-card-content>
            <ion-card-title>
              Life Time Calendar
            </ion-card-title>
            <p>
              Inspired by Tim urban's TED talk, Inside the mind of a master procrastinator, this calendar shows your
              entire life in a sobering glance.
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>
        2 of 2
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col>
        2 of 3
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>
  </ion-grid>
  -->




</ion-content>

<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© {{ currentYear }} Cody Burleson. All rights reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
-->
